.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  min-height: 100vh;
  padding: var(--padding);
  padding-top: 0;
}

.searchBar {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 16px;
  border: transparent;
  padding-left: 30px;
}

.searchBarContainer {
  position: relative;
  margin: 30px 0px;
}

.glass {
  position: absolute;
  color: var(--primary-gray) !important;
  z-index: 2;
  top: 15px;
  left: 9px;
}

.subHeaderText {
  font-weight: 700;
  color: var(--primary-black);
  font-size: 18px;
  margin-bottom: 15px;
}
.headerText {
  font-weight: 700;
  color: var(--primary-black);
  font-size: 24px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.categoriesContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.categories {
  width: 100%;
  margin-bottom: 30px;
}

.btn {
  padding: 15px;
  border-radius: var(--border-radius);
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
  color: white;
  border: transparent;
}

.inactive {
  border: transparent;
  background-color: white;
  color: var(--primary-black);
}

/* Mobile */
@media (max-width: 700px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1280px) {
  .categoriesContainer {
    max-width: 500px;
  }
}
